#wrapper {
	background-image: url("../../images/wrapper.jpg"); 
	width: cover; 
	height: 550px;
	h1 {
		color: white; 
		text-shadow: 2px 2px rgb(0,0,0);
	}


}
.icon {
	font-size: 70px;
}
.description {
	background-color: #474747;
	width: cover;
	color: white;
	height: 400px;
	padding-top: 120px;
	h2 {
		padding: 20px;
	}
}