#wrapper {
	background-image: url("../../images/wrapper.jpg"); 
	width: cover; 
	height: 550px;
	h1 {
		color: white; 
		font-size: 50px;
		text-shadow: 2px 2px rgba(190, 190, 190, 1);
	}
}
.icon {
	font-size: 75px;
}
.description {
	background-color: #474747;
	width: cover;
	color: white;
	height: 500px;
	padding-top: 50px;
	h3 {
		padding: 20px;
	}
}
.titre {
	padding: 20px;
	margin-bottom: 20px;
	h2{
		font-size: 45px; 
	}
}
.pad {
	padding: 30px;
}
.left-pad {
	padding-left: 50px;
	padding-top: 50px;
}
.rownd{
	border-radius: 20%;
}