---
title: Make It Famous | Growth Hacking

---

<div id="wrapper" class="padded text-center">
      <h1 class="expandUp">Improve your online marketing</h1>


      <button type="button" class="btn btn-success fadeIn" data-toggle="modal" data-target="#myModal">START NOW ! </button>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Make It Famous</h4>
            </div>
            <div class="modal-body">
              <div id="wufoo-zytziy9175g2eu">
                Fill out my <a href="https://makeitfamous.wufoo.com/forms/zytziy9175g2eu">online form</a>.
                </div>
                <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/partners/">Wufoo integrations</a> and get your data to your favorite apps.</div>
                <script type="text/javascript">var zytziy9175g2eu;(function(d, t) {
                var s = d.createElement(t), options = {
                'userName':'makeitfamous',
                'formHash':'zytziy9175g2eu',
                'autoResize':true,
                'height':'517',
                'async':true,
                'host':'wufoo.com',
                'header':'show',
                'ssl':true};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { zytziy9175g2eu = new WufooForm();zytziy9175g2eu.initialize(options);zytziy9175g2eu.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                })(document, 'script');</script>

            </div>

          </div>
        </div>
      </div>
</div>


<div class="container feature padded">
<div class="row text-center">

  <div class="col-md-4">
    <i class="fa fa-bullhorn icon tossing"></i> 
    <h2>Online Ads</h2>
    <p class="detail">Nous accompagnons nos clients dans la création de leur campagnes <strong>Google Adwords, Facebook Ads.</strong> De la définition de la statégie au pilotage opérationnel des campagnes. </p>
  </div>

  <div class="col-md-4">
    <i class="fa fa-cogs icon tossing"></i>
    <h2>Growth Hacking</h2> 
    <p class="detail">Un seul objectif : tout mettre en oeuvre pour assurer la <strong>croissance d'un service.</strong> Acquisition, Activation, Rétention, Revenue : Jouer sur les leviers de croissance.</p>
  </div>

  <div class="col-md-4">
    <i class="fa fa-comment-o icon tossing"></i> 
    <h2>Conseil</h2>
    <p class="detail">Parceque chaque problématique est unique, nous apportons nos <strong>7 années d'expertise web</strong> au service de votre business. Analyses des besoins, Benchmarks, Recommandations...</p>
  </div>
</div>
</div>
<div class="description">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h2>Une approche unique du Webmarketing</h2>
        <p>
          Make It Famous est né d'un constat simple. Afin de tirer le meilleur du Web, des profils d'intervenants nouveaux sont nécessaires : les <strong>Growth Hacker</strong>. 
          Il est capable de mixer plusieurs compétences pour tirer le meilleur des bonnes pratiques du web. A la fois à l'aise avec le <strong>développement et les techniques de webmarketing et d'UX</strong>, il est également capable de mesurer les améliorations qu'il met en place.
      </div>
    </div>
  </div>
</div>

   